<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<body>

<!--菜单-->
<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    贝创
                </div>
            </li>
            <!--<li class="active">
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="active"><a href="index.html">Dashboard v.1</a></li>
                    <li><a href="dashboard_2.html">Dashboard v.2</a></li>
                    <li><a href="dashboard_3.html">Dashboard v.3</a></li>
                    <li><a href="dashboard_4_1.html">Dashboard v.4</a></li>
                    <li><a href="dashboard_5.html">Dashboard v.5 </a></li>
                </ul>
            </li>-->
            <li>
                <a href="../index"><i class="fa fa-diamond"></i> <span class="nav-label">首页</span></a>
            </li>
            <li>
                <a href="/user/list"><i class="fa fa-diamond"></i> <span class="nav-label">员工</span></a>
            </li>
            <li>
                <a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">销售机会</span></a>
            </li>
            <li>
                <a href="/customer/list"><i class="fa fa-diamond"></i> <span class="nav-label">客户</span></a>
            </li>
            <li>
                <a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">销售记录</span></a>
            </li>
            <li>
                <a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">预约记录</span></a>
            </li>
            <li>
                <a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">消课记录</span></a>
            </li>
        </ul>

    </div>
</nav>

</body>
</html>